<h2 class="mb-2">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="field">
  <%= f.input :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= f.label :password %>
  <br>
  <em>Must be 8 characters minimum and contain at least one lowercase letter, one uppercase letter, and one digit</em>
  <%= f.input :password, autocomplete: "off", label: false%>
</div>

<div class="field">
  <%= f.input :password_confirmation, autocomplete: "off" %>
</div>

<div class="actions">
  <%= f.button :submit, "Sign Up", class:"btn btn-primary" %>
</div>
<% end %>

<div class="d-flex flex-column text-center mt-3">
<%= link_to "Read the privacy policy", "https://privacypolicies.com/privacy/view/18cea7b03925fc4a6e959ce164db5ce1", class: "link-red", target: "_blank"%>
<%= link_to "Forgot your password?", new_password_path(resource_name), class: "link-red" %>
<%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "link-red" %>
</div>
