<div class="container">
  <h1 class="mb-3">Complete your profile <span><p class ="d-inline">Field with (*) are mandatory</p> </span> </h1>
  <div class="row mt-4">
    <div class="col-lg-6 mx-auto">
      <%= simple_form_for current_user, url: save_profile_path(current_user.id), method: :post do |f| %>
        <%= f.input :username, label: "Choose an username (*)" %>
        <%= f.input :dob, label: "Insert your date of birth (*)",  start_year: Date.today.year - 110, end_year: Date.today.year %>
        <%= f.input :place, input_html: {id: "location"}, label: "What's your country? (*)" %>
        <%= f.button :submit, "Save your profile", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>

<script>
(function() {
  var placesAutocomplete = places({
    container: document.querySelector('#location'),
    language: 'en',
    type: 'country',


    templates: {
      suggestion: function(suggestion) {
        return  suggestion.highlight.name + ", " + suggestion.countryCode.toUpperCase()
      },
      value: function(suggestion) {
        return suggestion.name + ", " + suggestion.countryCode.toUpperCase()
    }
    }
  });
})();

</script>
